name={{ sumologic_name }}
url=https\://collectors.us2.sumologic.com
accessid={{ sumologic_accessid }}
accesskey={{ sumologic_accesskey }}
syncSources=/opt/SumoCollector/sources/
category={{ sumologic_component }}/{{ sumologic_env }}
clobber=true
skipAccessKeyRemoval=true
