[Unit]
Description=atlantis
After=rc-local.service

[Service]
ExecStart=/usr/bin/atlantis server
Type=simple
KillMode=process
TimeoutSec=infinity
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=atlantis
EnvironmentFile=-/etc/default/atlantis

[Install]
WantedBy=multi-user.target
